__pycache__
keys
test
.vscode
.venv
.tmp
.pytest_cache
.coverage*
pytest-coverage.txt
.python-version
firebase-debug.log
firestore-debug.log
ui-debug.log

# macOS file
.DS_Store

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# tf lock files
.terraform
.terraform.lock.hcl
examples/pa_form_generator/out
examples/pa_form_generator/out/*
examples/pa_form_generator/form_data_config1.json
examples/pa_form_generator/form_image_config1.json
examples/pa_form_generator/form.pdf
.gitignore
