fastapi==0.85.1
fireo==1.6.2
google-cloud-core==2.3.2
google-api-python-client==2.91.0
google-auth==2.21.0
google-cloud-logging==3.5.0
google-cloud-documentai==2.16.1
google-cloud-storage==2.10.0
google-cloud-contentwarehouse==0.5.1
google-cloud-bigquery==3.10.0
pandas