

.chart{
   
    margin-top: 4rem;
}


.chart-container{
    height: 23rem;
    justify-content: space-between ;
    min-height: 23rem;

}

.table-container{
    height: 30rem;
}


.container{
    margin: 0 auto;
    /* max-width: 99.438rem !important; */
}


.input-group > .form-control{
    height: auto;
    border-radius: 23px 0px 0px 23px;
}

.table{
    width: auto !important;
    margin: 0 auto;
    white-space: nowrap;
    text-align: center;
    
}


.tableScroll{
    /* overflow: scroll; */
    height: 381px;
    overflow-x: auto;
    overflow-y: auto;
    font-size: medium;
}


.table-filter > .btn{
    background-color: blueviolet;
}
/* border-radius: 0px 23px 23px 0px; */


.table >thead{
    position: sticky;
    top: 0;
    background-color: #F1F2F3;

}


@media(min-width:1400px){
.container{
    max-width: 1591px !important;
}


}


.tbody-tr{
  
    border-style: hidden;
    line-height: 30px;
}

.thead-tr{
    background: #F1F2F3;
    line-height: 46px;
}

.thead-th{
    min-width: 18rem
}



::-webkit-scrollbar {
    width: 16px;
    height: 6px;

}

::-webkit-scrollbar-thumb {
    background-color:#808080;
}